@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
.breadcrumb,
.pagination {
  background-color: #fff;
  font-size: 12px;
  margin-left: -13px;
}
.breadcrumb a,
.pagination a {
  color: #000000;
}
.breadcrumb a:hover,
.pagination a:hover {
  color: #ce0e1d;
}
.breadcrumb-item.active {
  color: #ce0e1d;
  font-weight: bold;
}
.navbar-toggler {
  border: 0px;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 1)' stroke-width='4' stroke-linecap='square' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.search {
  position: absolute;
  top: 70px;
  width: 300px;
  right: 10%;
}
.search button {
  position: relative;
  top: -34px;
  left: 264px;
}
.search .btn-search {
  color: #fff;
  background-color: #ce0e1d;
  border-color: #ce0e1d;
}
.bar-top-page {
  height: 25px;
}
.bar-top-page-content {
  color: #fff;
  text-align: right;
  font-size: 12px;
  padding-top: 2px;
}
.bar-top-page-content a {
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
}
.bar-top-page-content a:hover {
  color: #cc0d1f;
  text-decoration: underline;
  font-size: 12px;
}
#logo {
  margin: 30px 0px;
}
#logo h1 {
  font-size: 30px;
  text-indent: -9999px;
  background-image: url("../media/logo.png");
  background-repeat: no-repeat;
  height: 65px;
}
.main-menu {
  background-color: #cc0d1f;
}
.main-menu ul {
  list-style: none;
  margin: 0px 30px 0px -35px;
  text-align: left;
}
.main-menu ul li {
  display: inline;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  color: white;
  margin-left: 20px;
}
.main-menu ul li a {
  color: white;
  padding: 10px 3px;
  text-decoration: none;
}
.main-menu ul li a:hover {
  background-color: #96000e;
  padding: 10px 3px;
  text-decoration: none;
}
.menu-categories h4 {
  color: #cc0d1f;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0px 0px 10px;
}
.menu-categories h5 {
  color: #328b84;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin: 30px 0px 0px 10px;
}
.menu-categories ul {
  padding-left: 25px;
}
.menu-categories ul li {
  font-size: 13px;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menu-categories h5 button {
  display: block;
  cursor: not-allowed;
}
.row {
  margin: auto;
}
#red {
  background-color: #c3121a;
  width: 50px;
  height: 25px;
}
#orange {
  background-color: #f36324;
  width: 50px;
  height: 25px;
}
#green {
  background-color: #80bdb8;
  width: 50px;
  height: 25px;
}
.breadcrumb {
  color: #000000;
  font-size: 12px;
  font-weight: bolder;
  background-color: #ffffff;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.list {
  color: #808080;
}
.page-link {
  color: #808080;
  font-weight: bolder;
}
.page-link:hover {
  color: #c3121a;
  font-weight: bolder;
}
.main-menu-responsive {
  background-color: #cc0d1f !important;
}
.title-page h1 {
  border-bottom: 1px solid #dfdedc;
  color: #cc0d1f;
  font-weight: lighter;
  padding-bottom: 10px;
  display: none;
}
.title-page label {
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
  padding-right: 0px;
}
.title-page select {
  width: 100%;
}
.menu-categories {
  border: #dfdedc 1px solid;
}
.choose-icon-nav {
  padding-top: 7px;
  padding-left: 20px;
  color: #86bbbf;
}
.choose-icon-nav a {
  color: #808186;
}
.choose-icon-nav a:hover {
  color: #86bbbf;
}
#products {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-wrap: wrap;
}
.product {
  margin-top: 10px;
  min-height: 271px;
  width: 33.33%;
  padding: 0 4px;
  margin-bottom: 20px;
}
.product p {
  text-align: center;
  text-transform: uppercase;
}
.product .description {
  color: #666;
  font-size: 20px;
  font-weight: 200;
  height: 60px;
  overflow: hidden;
}
.product .price {
  color: #ce0e1d;
  font-weight: bold;
  font-size: 20px;
}
.product button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #86bbbf;
  border: none;
}
.product button:hover {
  background-color: #328b84;
}
.thumb img {
  border: 1px solid #dfdedc;
  padding: 20px;
  max-height: 250px;
}
footer {
  height: 50px;
  background-color: #ce0216;
  padding: 80px;
}
@media only screen and (max-width: 750px) {
  .search {
    display: none;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .product {
    margin-top: 0px;
  }
  .product .description {
    font-size: 15px;
    font-weight: 200;
  }
  button.navbar-toggler {
    display: none;
  }
  .navbar-nav {
    flex-direction: inherit;
  }
}
@media only screen and (max-width: 425px) {
  main {
    margin-top: -80px;
  }
  .main-page-responsive {
    margin-top: 0px !important;
  }
  .main-menu {
    background-color: #fff;
  }
  .main-menu ul {
    list-style: none;
    margin: 0px 0px 40px 0px;
    text-align: left;
  }
  .main-menu ul li a {
    font-size: xx-large;
  }
  .main-menu ul li a:hover {
    font-size: xx-large;
  }
  .title-page {
    margin-top: 20px;
  }
  .title-page label {
    text-align: left;
  }
  .navbar-light .navbar-toggler {
    position: relative;
    top: -90px;
    left: -30px;
  }
  #logo {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 375px) {
  #logo {
    margin-left: 75px;
  }
}
@media only screen and (max-width: 374px) and (min-width: 320px) {
  #logo {
    margin-left: 50px;
  }
}
